@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap'); 

.about__container {
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about__content{
    width: 40%;
}

.about__description1{
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 1.5rem 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

.about__description2{
    color: #FFFFFF;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#about{
    background: #051522;
    height: 100vh;

}

.about__img {
    width: 510px;
    padding-left: 2rem;
    padding-top: 2rem;
    
}


.about__title {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight:bolder;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}



@media screen and (max-width: 576px) {
    .about__container {
        width: 100%;
        align-items: center;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .about__img {
        width: 250px;
        margin: 0px;
        padding-left: 0px;
        justify-content: center;
        align-items: center;
        
    }

    #about{
        height: fit-content;
        width: 100vw;
    }
    .about__content{
        width: 90%;
    }
    .about__description1{
        font-size: 1rem;
        text-align: center;
    }
    .about__description2{
        font-size: 1rem;
        text-align: center;
        padding-bottom: 2px;
    }
    .about__title{
        text-align: center;
        font-size: 2rem;
        padding-bottom: 10px;
    }
}