html{
    scroll-behavior: smooth;
}
body{
    background:  #EFF5F5;
}

.footer{
    display: flex;
    background:  #EFF5F5;
}

.left, .right{
    flex: 1;
}

.content{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}
.content>h1{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}
.content>h1>span{
    color: #5793C9;
}

.menu>ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 20px;
}
.menu>ul>li{
    font-size: 26px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #000000;
}
.social>ul{
    display:flex;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 20px;
}

.mapouter{
    position:relative;
    text-align:right;
    width:90%;
    height:400px;
    padding: 50px;
}    
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:90%;
    height:400px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px;
}
.gmap_iframe {
    height:400px!important;
}
/* 
.fa-linkedin{
    color: #0A66C2;
}
.fa-youtube{
    color: 	#FF0000;
} */

.fa-brands{
    font-size: 2.5em;
    color: #000000
}
.copyright{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 650px){
    body, html{
        overflow-x: hidden;
        width: 100%;
    }
    .footer{
        flex-direction: column;
    }
    .menu>ul{
        flex-direction: column;
    }
    .content{
        font-size: 18px;
    }
    .content>h1{
        font-size: 25px;
    }
    .social>ul{
        font-size: 15px;
        text-align: center;
    }
    .menu>ul{
        text-align: center;
    }
    .map{
        align-items: center;
    }
    .mapouter{
        padding-left: 35px;
    }
}
